<!-- FOOTER -->
<footer class="col-md-12 section bg-gray footer">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-4">
                <div class="col-md-4 col-sm-6">
                    <h5>POST A JOB</h5>
                </div>
                <div class="col-md-4 col-sm-6">
                    <h5>JOB ALERTS</h5>
                </div>
            </div>
        </div> <!-- end row -->
        <div class="row">
            <div class="col-md-offset-5">
                <div class="col-md-3 col-sm-6">
                    <ul class="list-unstyled text-center">
                        <li><a href="">Privacy Policy</a></li>
                        <li><a href="">Terms + Conditions</a></li>
                        <li><a href="">Contact us</a></li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="footer-alt text-center">
                    <p class="text-muted m-b-0">2017 © Permlance</p>
                </div>
            </div>
        </div> <!-- end row -->

    </div> <!-- end container -->
</footer>
<!-- END FOOTER -->

