* {
box-sizing: border-box;
}
*:focus {
outline: none;
}
body {
font-family: Arial;
background-color: #3498DB;
padding: 50px;
}
.login {
  display: table;
  margin: 0 auto;
  padding: 2% 0;
  width: 45%;
}
.login-screen {
  background-color: #f0f0f0;
  border-radius: 5px;
  padding: 20px;
}
.app-title {
text-align: center;
color: #777;
}
.login-form {
  margin-top: 28px;
  padding: 28px;
  text-align: center;
}
.control-group {
margin-bottom: 10px;
}
input {
background-color: #ECF0F1;
border: 2px solid transparent;
border-radius: 3px;
font-size: 16px;
font-weight: 200;
padding: 10px 0;
transition: border .5s;
}
input:focus {
border: 2px solid #3498DB;
box-shadow: none;
}
.btn {
  background: #2f3e47 !important;
  border: 2px solid transparent;
  border-radius: 3px;
  box-shadow: none;
  color: #ffffff;
  display: block;
  font-size: 16px;
  line-height: 25px;
  margin: 0 auto;
  padding: 14px 33px;
  text-decoration: none;
  text-shadow: none;
  transition: all 0.25s ease 0s;
}
.btn:hover {
background-color: #2980B9;
}
.login-link {
font-size: 12px;
color: #444;
display: block;
margin-top: 12px;
}

.loginLabel {
  color: #222;
  float: left;
  font-size: 16px;
  font-weight: 300;
  text-align: left;
  width: 20%;
}
.loginInput {
  float: right;
  padding: 10px;
  width: 78%;
}
.login-form .control-group {
  margin-bottom: 45px;
}

.login-screen h3 {
  color: #222;
  font-size: 21px;
}
.red {
  float: left;
  margin-bottom: 25px !important;
  margin-top: 7px !important;
  text-align: left !important;
  width: 100%;
}
.login p {
  margin-top: 38px;
  text-align: center;
}

.loadingAnimateDiv {
  margin-top: 12px;
}
