<div class="login">
    <div class="login-screen">
          <div class="app-title">
              <h3>Forgot Password.</h3>
          </div>
          <div class="response-from-api">
            <span style="color:green">{{result}}</span>
            <span *ngIf="error" class="errrospan" style="color:red"> {{error | returnerrorfromjson}}</span>
          </div>
          <form novalidate class="form-horizontal" (ngSubmit)="forgot(form,$event)" #form="ngForm">
          <div class="login-form">
              <div class="control-group">
                <label class="loginLabel">Email</label>
              <input type="text" class="form-control loginInput" id="email" [(ngModel)]="formData.email" name="email" #email="ngModel" required email placeholder="email">
              <p class="red" [hidden]="email.valid || (email.untouched && !form.submitted)" *ngIf="email.errors?.required">email is required</p>
              <p class="red" [hidden]="email.valid || (email.untouched && !form.submitted)" *ngIf="email.errors?.email">Not an email-address</p>
              <label class="login-field-icon fui-user" for="login-name"></label>
              </div>
              <button  [disabled]="showloading==true"  class="btn login-btn" href="#">Submit</button>
                <div *ngIf="showloading==true" class="loadingAnimateDiv"><img class="loadingAnimateImg" src="/assets/images/loadingSmall.gif"></div>
          </div>
        </form>
    </div>

</div>
