<div class="viewjobscontainer">
<div class="col-md-3">
  <ul class="navigateDashUl">
  <li class="dashboardli btn btn-white-fill navbar-btn"><a class="navlink" [routerLink]="['/dashboard/viewjobs']">View Jobs</a></li>
  <li class="dashboardli btn btn-white-fill navbar-btn"><a class="navlink" [routerLink]="['/dashboard/editprofile']">Edit Profile</a></li>
  <li class="dashboardli btn btn-white-fill navbar-btn"><a class="navlink" [routerLink]="['/dashboard/postjob']">Post Job</a></li>
  <li *ngIf="userRole==1" class="dashboardli btn btn-white-fill navbar-btn"><a class="navlink" [routerLink]="['/dashboard/manage-users']">Manage Users</a></li>
  <li class="dashboardli btn btn-white-fill navbar-btn"><a class="navlink" [routerLink]="['/logout']">Logout</a></li>

  </ul>

</div>
<div class="col-md-9">
  <div class="outerEditProfile">
  <div class="response-from-api">
    <span style="color:green">{{result}}</span>
    <span style="color:red"> {{error}}</span>
  </div>
  <h3 class="editprofileh3 grey">User Details</h3>


  <div class="control-group">
    <label class='leftLabel' for="firstName">First Name</label>
    <div class="righttoLabel">
    {{userDetails.firstName || 'N/A'}}
  </div>
  </div>

  <div class="control-group">
    <label class='leftLabel' for="lastName">Last Name</label>
    <div class="righttoLabel">
    {{userDetails.lastName|| 'N/A'}}
  </div>
  </div>

  <div class="control-group">
    <label class='leftLabel' for="addressLine1">Address Line 1</label>
    <div class="righttoLabel">
    {{userDetails.addressLine1 || 'N/A'}}
  </div>
  </div>

  <div class="control-group">
    <label class='leftLabel' for="addressLine2">Address Line 2</label>
    <div class="righttoLabel">
    {{userDetails.addressLine2 || 'N/A'}}
  </div>
  </div>

  <div class="control-group">
    <label class='leftLabel' for="city">City</label>
    <div class="righttoLabel">
    {{userDetails.city || 'N/A'}}
  </div>
  </div>

  <div class="control-group">
    <label class='leftLabel' for="state">State</label>
    <div class="righttoLabel">
    {{userDetails.state || 'N/A'}}
  </div>
  </div>

  <div class="control-group">
    <label class='leftLabel' for="zip">Zip</label>
    <div class="righttoLabel">
    {{userDetails.zip || 'N/A'}}
  </div>
  </div>

  <div class="control-group">
    <label class='leftLabel' for="country">Country</label>
    <div class="righttoLabel">
    {{userDetails.country || 'N/A'}}
  </div>
  </div>

  <div class="control-group">
    <label class='leftLabel' for="phone">Phone</label>
    <div class="righttoLabel">
    {{userDetails.phone || 'N/A'}}
  </div>
  </div>

  <div class="control-group">
    <label class='leftLabel' for="website">Website</label>
    <div class="righttoLabel">
      {{userDetails.website || 'N/A'}}
  </div>
  </div>

  <div class="control-group">
    <label class='leftLabel' for="companyName">Company Name</label>
    <div class="righttoLabel">
    {{userDetails.companyName || 'N/A'}}
  </div>
  </div>

  <div class="control-group">
      <label class='leftLabel' for="terms">Profile Photo (optional)</label>
      <div class="righttoLabel">
        <div class="alreadyPhoto" *ngIf="userDetails.profilePhoto">
        <img [src]="userDetails.profilePhoto">
        </div>
      </div>
  </div>

  <div class="control-group">
      <label class='leftLabel' for="terms">Hero Photo (optional)</label>
      <div class="righttoLabel">
        <div class="alreadyPhoto" *ngIf="userDetails.heroPhoto">
        <img [src]="userDetails.heroPhoto">
        </div>
      </div>
  </div>
  </div>
</div>
  </div>
